@charset "UTF-8";

p {
    text-align: justify;
    text-indent: 50px;
}

figure.esquilo {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.esquilo img{
    width: 100%;
    height: 100%
}